#nav a {
    color: aqua;
}

#nav {
    border-left: 0.3rem solid aqua;
    border-bottom: 0.2rem solid aqua;
    /* box-shadow: 5px black; */
    height: 5rem;
}

body {
    background: rgb(2, 9, 18);
    background: radial-gradient(
        circle,
        rgba(2, 9, 18, 1) 0%,
        rgba(0, 39, 51, 1) 97%
    );
    color: wheat !important;
}

.clg-pic {
    width: 50em;
}

.about {
    width: 50%;
    outline: 1px solid black;
    align-items: center;
}

.about a {
    text-decoration: none;
    color: wheat;
}

.about a:hover {
    text-decoration: underline;
    color: wheat;
}
